.contact {
  .fleft {
    float: left;
  }
  .fright {
    float: right;
  }
  .title {
    text-transform: uppercase;
    padding-bottom: 20px;
    @include fontNormal();
  }

  .adr_wrap {
    padding-left: 10%;
  }

}

input, textarea {
  opacity:0.9;
  color:$colorBrandHighlight;
  @include fontLight();
  font-weight:400;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: $colorBgGrey;
  border: 3px solid $colorBgGrey;
  padding: 10px;
  margin-bottom: 10px;
  width:100%;
  @include box-sizing(border-box);

  &:focus{
    background-color: $colorWhite;
    box-shadow: 0;
    border: 3px solid $colorBrandHighlight;
    color: $colorBrandHighlight;
    outline: none;
  }
  &:hover {
    background-color: $colorWhite;
  }
}


input[type=submit]{
  @include fontLight();
  float:left;
  border: $colorBgGrey solid 3px;
  cursor:pointer;
  background-color: $colorBrandHighlight;
  color:$colorWhite;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  @include transition-property(all);
  @include transition-duration(.3s);

  &:hover{
    background-color: rgba(0,0,0,0);
    color: $colorBrandHighlight;
  }
}


@media only screen and (max-width: 580px) {

}
