.about {
  width: 100%;
  overflow: hidden;
  min-height: 200px;
  height: auto;
  position: relative;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    max-width: 1200px;
  }

  .text-title {
    color: $colorText;
    @include fontLight();
    font-weight: bold;
    text-transform: uppercase;

  }
  .text-content {
    color: $colorText;
  }
}
