#gallery {

}

.lp-boxes {
  display: block;
  float: none;
  width: 100%;
  overflow: hidden;
}
.lp-boxes.lp-boxes-rows-4 {
  .lp-box {
    width: 25%;
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
  }
  .lp-box-image {
    position: relative;
    overflow: hidden;
  }
  .lpbox-rnd8 {
    //background-color: #a5a3a5;
  }
}
.lp-boxes-2 .lp-box .lp-box-image {
  //min-height: 400px;
  height: auto;
}
.lp-boxes-animated .lp-box .lp-box-image > img {
  filter: grayscale(25%);
  transform: scale(1);
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.lp-box .lp-box-image > img {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
}