@import url("icons/fonts/fontfaces.css");@font-face {
	font-family: "Futura BT W01 Medium";
	src: url("fonts/1119900/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix");
	src: url("fonts/1119900/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix") format("eot"), url("fonts/1119900/ddc0f223-a296-451a-8681-ad80508eb419.woff") format("woff"), url("fonts/1119900/c18fc865-7a4e-45d9-bbb0-4e4553cc4136.ttf") format("truetype"), url("fonts/1119900/71710047-b807-47eb-9874-7db8f4904492.svg#71710047-b807-47eb-9874-7db8f4904492") format("svg");
}

@font-face {
	font-family: "FuturaBTW01-MediumConde";
	src: url("fonts/1119912/d7b7328c-23d0-4f6c-98be-3a7611181175.eot?#iefix");
	src: url("fonts/1119912/d7b7328c-23d0-4f6c-98be-3a7611181175.eot?#iefix") format("eot"), url("fonts/1119912/5731186c-06a5-4d3d-af89-62be92328ac3.woff") format("woff"), url("fonts/1119912/664e9ca7-e8dc-4bb2-a495-b944c8c0c2cd.ttf") format("truetype"), url("fonts/1119912/9651240a-4edc-45eb-9498-c6b5f894e53a.svg#9651240a-4edc-45eb-9498-c6b5f894e53a") format("svg");
}

@font-face {
	font-family: 'FlamaCondensed-Medium';
	src: url("fonts/FlamaCondensed-Medium.eot");
	src: url("fonts/FlamaCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FlamaCondensed-Medium.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'FlamaCondensed-Basic';
	src: url("fonts/FlamaCondensed-Basic.eot");
	src: url("fonts/FlamaCondensed-Basic.eot?#iefix") format("embedded-opentype"), url("fonts/FlamaCondensed-Basic.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'HalisRBook';
	src: url("fonts/2E7FD8_0_0.eot");
	src: url("fonts/2E7FD8_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/2E7FD8_0_0.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/* Import the fonts */

/* breakpoints */

/* colors */

/* z-index levels */

/* animation durations */

/* ================= MIXINS ================= */

/* ================= SPRITES ================= */

/* line 1, ../sass/_setup/_main.scss */

html,
button,
input,
select,
textarea {
	color: #fcfff3;
}

/* line 4, ../sass/_setup/_main.scss */

html {
	height: 100%;
	overflow-y: scroll;
}

/* line 8, ../sass/_setup/_main.scss */

body {
	height: 100%;
	font-family: "HalisRBook",sans-serif;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.35;
	margin: 0;
	background: #ffffff;
	color: #fcfff3;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* line 18, ../sass/_setup/_main.scss */

img {
	vertical-align: middle;
}

/* line 21, ../sass/_setup/_main.scss */

p,
ul,
ol,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

/* line 25, ../sass/_setup/_main.scss */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

/* line 29, ../sass/_setup/_main.scss */

input[type="search"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* line 32, ../sass/_setup/_main.scss */

.invisible {
	display: none;
}

/* line 35, ../sass/_setup/_main.scss */

.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
	height: 0;
	overflow: hidden;
	display: block;
}

/* line 43, ../sass/_setup/_main.scss */

.rel {
	position: relative;
}

/* line 46, ../sass/_setup/_main.scss */

.rel_inline {
	position: relative;
	display: inline-block;
}

/* line 50, ../sass/_setup/_main.scss */

.fleft {
	float: left;
}

/* line 53, ../sass/_setup/_main.scss */

.fright {
	float: right;
}

/* FONTS */

/* line 58, ../sass/_setup/_main.scss */

body {
	font-family: "HalisRBook",sans-serif;
	font-weight: normal;
}

/* line 61, ../sass/_setup/_main.scss */

h1,
h2,
h3,
h4 {
	font-family: 'FlamaCondensed-Medium', sans-serif;
	font-weight: normal;
	color: #444444;
}

/* line 65, ../sass/_setup/_main.scss */

h2,
h3,
h4 {
	font-size: 2em;
	line-height: 1.2;
	margin-bottom: 0.75em;
	text-transform: uppercase;
}

/* line 71, ../sass/_setup/_main.scss */

h2 {
	line-height: 0.92;
	letter-spacing: 0;
}

/* line 75, ../sass/_setup/_main.scss */

.main_pb20 {
	padding-bottom: 20px;
}

/* line 78, ../sass/_setup/_main.scss */

.main_pb25 {
	padding-bottom: 25px;
}

/* line 81, ../sass/_setup/_main.scss */

.main_pb30 {
	padding-bottom: 30px;
}

/* line 84, ../sass/_setup/_main.scss */

.main_pb40 {
	padding-bottom: 40px;
}

/* line 87, ../sass/_setup/_main.scss */

.main_pb50 {
	padding-bottom: 50px;
}

/* line 90, ../sass/_setup/_main.scss */

.main_pb55 {
	padding-bottom: 55px;
}

/* line 93, ../sass/_setup/_main.scss */

.main_pb60 {
	padding-bottom: 60px;
}

/* line 96, ../sass/_setup/_main.scss */

.main_pb70 {
	padding-bottom: 70px;
}

/* line 99, ../sass/_setup/_main.scss */

.main_pb75 {
	padding-bottom: 75px;
}

/* line 103, ../sass/_setup/_main.scss */

.main_pt20 {
	padding-top: 20px;
}

/* line 106, ../sass/_setup/_main.scss */

.main_pt25 {
	padding-top: 25px;
}

/* line 109, ../sass/_setup/_main.scss */

.main_pt30 {
	padding-top: 30px;
}

/* line 112, ../sass/_setup/_main.scss */

.main_pt40 {
	padding-top: 40px;
}

/* line 115, ../sass/_setup/_main.scss */

.main_pt50 {
	padding-top: 50px;
}

/* line 118, ../sass/_setup/_main.scss */

.main_pt55 {
	padding-top: 55px;
}

/* line 121, ../sass/_setup/_main.scss */

.main_pt60 {
	padding-top: 60px;
}

/* line 124, ../sass/_setup/_main.scss */

.main_pt70 {
	padding-top: 70px;
}

/* line 127, ../sass/_setup/_main.scss */

.main_pt75 {
	padding-top: 75px;
}

/* line 131, ../sass/_setup/_main.scss */

.main_ps10 {
	padding-left: 10px;
	padding-right: 10px;
}

/* line 135, ../sass/_setup/_main.scss */

.main_narrow_width {
	width: 100%;
	max-width: 647px;
	margin-left: auto;
	margin-right: auto;
}

/* line 141, ../sass/_setup/_main.scss */

.main_wrap {
	max-width: 1920px;
	min-width: 320px;
	margin: 0 auto;
	overflow: hidden;
}

/* line 1, ../sass/_setup/_buttons.scss */

a.f_btn,
.f_btn {
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 1em;
	padding: 0 1em;
	background: #8e8e8e;
	color: #ffffff;
	border: 0;
	height: 42px;
	line-height: 42px;
	min-width: 156px;
	text-transform: uppercase;
	text-align: left;
	display: inline-block;
	padding-right: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	position: relative;
	overflow: hidden;
}

/* line 23, ../sass/_setup/_buttons.scss */

a.f_btn:after,
.f_btn:after {
	display: block;
	content: ' ';
	background-image: url("../images/sprites.png");
	background-size: 50px auto;
	background-position: 0 0;
	width: 11px;
	height: 18px;
	position: absolute;
	top: 12px;
	right: 9px;
}

/* line 31, ../sass/_setup/_buttons.scss */

a.f_btn:before,
.f_btn:before {
	display: block;
	content: ' ';
	position: absolute;
	left: 10px;
	top: 0;
	width: 120%;
	height: 100%;
	background: #ffffff;
	-moz-transform: translate(100%, 0) skew(-20deg, 0);
	-ms-transform: translate(100%, 0) skew(-20deg, 0);
	-webkit-transform: translate(100%, 0) skew(-20deg, 0);
	transform: translate(100%, 0) skew(-20deg, 0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	opacity: 0.3;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-moz-transition-property: -moz-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

/* line 44, ../sass/_setup/_buttons.scss */

a.f_btn:hover:before,
.f_btn:hover:before {
	-moz-transform: translate(-15%, 0) skew(-20deg, 0);
	-ms-transform: translate(-15%, 0) skew(-20deg, 0);
	-webkit-transform: translate(-15%, 0) skew(-20deg, 0);
	transform: translate(-15%, 0) skew(-20deg, 0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
	opacity: 0.1;
}

/* line 1, ../sass/_setup/_footer.scss */

#toTop {
	display: block;
	position: fixed;
	right: -100px;
	bottom: 1em;
	z-index: 251;
	width: auto;
	height: auto;
	padding: .25em 1em;
	font-size: 1.2em;
	opacity: 0;
	cursor: pointer;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.1) inset;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	background-color: rgba(250, 250, 250, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #0085b2;
}

/* line 21, ../sass/_setup/_footer.scss */

#toTop:hover {
	background-color: #24a7cf;
	color: #FFFDFF;
}

/* line 25, ../sass/_setup/_footer.scss */

#toTop:hover .icon-back2top:before {
	color: rgba(250, 250, 250, 0.8);
}

/* line 30, ../sass/_setup/_footer.scss */

#toTop.toTop-show {
	right: 1em;
	opacity: 1;
}

/* line 35, ../sass/_setup/_footer.scss */

#toTop .icon-back2top {
	font-family: 'elusive', sans-serif;
	font-weight: normal;
}

/* line 38, ../sass/_setup/_footer.scss */

#toTop .icon-back2top:before {
	color: #0085b2;
	content: '\e809';
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/* line 9, ../sass/_vendor/bootstrap/_normalize.scss */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* line 19, ../sass/_vendor/bootstrap/_normalize.scss */

body {
	margin: 0;
}

/* line 33, ../sass/_vendor/bootstrap/_normalize.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/* line 54, ../sass/_vendor/bootstrap/_normalize.scss */

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

/* line 67, ../sass/_vendor/bootstrap/_normalize.scss */

audio:not([controls]) {
	display: none;
	height: 0;
}

/* line 77, ../sass/_vendor/bootstrap/_normalize.scss */

[hidden],
template {
	display: none;
}

/* line 89, ../sass/_vendor/bootstrap/_normalize.scss */

a {
	background-color: transparent;
}

/* line 98, ../sass/_vendor/bootstrap/_normalize.scss */

a:active,
a:hover {
	outline: 0;
}

/* line 110, ../sass/_vendor/bootstrap/_normalize.scss */

abbr[title] {
	border-bottom: 1px dotted;
}

/* line 118, ../sass/_vendor/bootstrap/_normalize.scss */

b,
strong {
	font-weight: bold;
}

/* line 127, ../sass/_vendor/bootstrap/_normalize.scss */

dfn {
	font-style: italic;
}

/* line 136, ../sass/_vendor/bootstrap/_normalize.scss */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* line 145, ../sass/_vendor/bootstrap/_normalize.scss */

mark {
	background: #ff0;
	color: #000;
}

/* line 154, ../sass/_vendor/bootstrap/_normalize.scss */

small {
	font-size: 80%;
}

/* line 162, ../sass/_vendor/bootstrap/_normalize.scss */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

/* line 170, ../sass/_vendor/bootstrap/_normalize.scss */

sup {
	top: -0.5em;
}

/* line 174, ../sass/_vendor/bootstrap/_normalize.scss */

sub {
	bottom: -0.25em;
}

/* line 185, ../sass/_vendor/bootstrap/_normalize.scss */

img {
	border: 0;
}

/* line 193, ../sass/_vendor/bootstrap/_normalize.scss */

svg:not(:root) {
	overflow: hidden;
}

/* line 212, ../sass/_vendor/bootstrap/_normalize.scss */

hr {
	box-sizing: content-box;
	height: 0;
}

/* line 221, ../sass/_vendor/bootstrap/_normalize.scss */

pre {
	overflow: auto;
}

/* line 229, ../sass/_vendor/bootstrap/_normalize.scss */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* line 252, ../sass/_vendor/bootstrap/_normalize.scss */

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

/* line 266, ../sass/_vendor/bootstrap/_normalize.scss */

button {
	overflow: visible;
}

/* line 277, ../sass/_vendor/bootstrap/_normalize.scss */

button,
select {
	text-transform: none;
}

/* line 290, ../sass/_vendor/bootstrap/_normalize.scss */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

/* line 302, ../sass/_vendor/bootstrap/_normalize.scss */

button[disabled],
html input[disabled] {
	cursor: default;
}

/* line 311, ../sass/_vendor/bootstrap/_normalize.scss */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* line 322, ../sass/_vendor/bootstrap/_normalize.scss */

input {
	line-height: normal;
}

/* line 334, ../sass/_vendor/bootstrap/_normalize.scss */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/* line 346, ../sass/_vendor/bootstrap/_normalize.scss */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/* line 356, ../sass/_vendor/bootstrap/_normalize.scss */

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

/* line 367, ../sass/_vendor/bootstrap/_normalize.scss */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* line 376, ../sass/_vendor/bootstrap/_normalize.scss */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/* line 387, ../sass/_vendor/bootstrap/_normalize.scss */

legend {
	border: 0;
	padding: 0;
}

/* line 396, ../sass/_vendor/bootstrap/_normalize.scss */

textarea {
	overflow: auto;
}

/* line 405, ../sass/_vendor/bootstrap/_normalize.scss */

optgroup {
	font-weight: bold;
}

/* line 416, ../sass/_vendor/bootstrap/_normalize.scss */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* line 421, ../sass/_vendor/bootstrap/_normalize.scss */

td,
th {
	padding: 0;
}

/* line 10, ../sass/_vendor/bootstrap/_grid.scss */

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* line 14, ../sass/_vendor/bootstrap/mixins/_clearfix.scss */

.container:before,
.container:after {
	content: " ";
	display: table;
}

/* line 19, ../sass/_vendor/bootstrap/mixins/_clearfix.scss */

.container:after {
	clear: both;
}

/* line 30, ../sass/_vendor/bootstrap/_grid.scss */

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* line 14, ../sass/_vendor/bootstrap/mixins/_clearfix.scss */

.container-fluid:before,
.container-fluid:after {
	content: " ";
	display: table;
}

/* line 19, ../sass/_vendor/bootstrap/mixins/_clearfix.scss */

.container-fluid:after {
	clear: both;
}

/* line 39, ../sass/_vendor/bootstrap/_grid.scss */

.row {
	margin-left: -15px;
	margin-right: -15px;
}

/* line 14, ../sass/_vendor/bootstrap/mixins/_clearfix.scss */

.row:before,
.row:after {
	content: " ";
	display: table;
}

/* line 19, ../sass/_vendor/bootstrap/mixins/_clearfix.scss */

.row:after {
	clear: both;
}

/* line 11, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

/* line 27, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-1 {
	width: 8.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-2 {
	width: 16.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-3 {
	width: 25%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-4 {
	width: 33.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-5 {
	width: 41.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-6 {
	width: 50%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-7 {
	width: 58.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-8 {
	width: 66.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-9 {
	width: 75%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-10 {
	width: 83.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-11 {
	width: 91.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-12 {
	width: 100%;
}

/* line 55, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-0 {
	right: auto;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-1 {
	right: 8.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-2 {
	right: 16.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-3 {
	right: 25%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-4 {
	right: 33.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-5 {
	right: 41.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-6 {
	right: 50%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-7 {
	right: 58.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-8 {
	right: 66.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-9 {
	right: 75%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-10 {
	right: 83.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-11 {
	right: 91.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-pull-12 {
	right: 100%;
}

/* line 45, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-0 {
	left: auto;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-1 {
	left: 8.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-2 {
	left: 16.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-3 {
	left: 25%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-4 {
	left: 33.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-5 {
	left: 41.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-6 {
	left: 50%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-7 {
	left: 58.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-8 {
	left: 66.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-9 {
	left: 75%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-10 {
	left: 83.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-11 {
	left: 91.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-push-12 {
	left: 100%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-0 {
	margin-left: 0%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-1 {
	margin-left: 8.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-2 {
	margin-left: 16.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-3 {
	margin-left: 25%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-4 {
	margin-left: 33.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-5 {
	margin-left: 41.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-6 {
	margin-left: 50%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-7 {
	margin-left: 58.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-8 {
	margin-left: 66.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-9 {
	margin-left: 75%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-10 {
	margin-left: 83.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-11 {
	margin-left: 91.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-xs-offset-12 {
	margin-left: 100%;
}

/* line 1, ../sass/_block/_block_services.scss */

#services {
	width: 100%;
	overflow-x: hidden;
}

/* line 6, ../sass/_block/_block_services.scss */

.lp-block {
	color: #495d6d;
	padding: 20px 0;
}

/* line 11, ../sass/_block/_block_services.scss */

.lp-block i:before {
	color: #24a7cf;
	font-size: 35px;
}

/* line 15, ../sass/_block/_block_services.scss */

.lp-block i:before:hover {
	color: #495d6d;
}

/* line 20, ../sass/_block/_block_services.scss */

.lp-block .lp-block-title {
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-weight: bold;
}

/* line 26, ../sass/_block/_block_services.scss */

.lp-block .lp-block-title:hover {
	color: #24a7cf;
}

/* line 31, ../sass/_block/_block_services.scss */

.text-title {
	color: #495d6d;
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-weight: bold;
}

/* line 1, ../sass/_block/_block_home.scss */

#home {
	height: 100%;
	width: 100%;
	background-image: url("../images/narlukada-alpin.png");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

/* line 12, ../sass/_block/_block_home.scss */

img {
	width: 100%;
	height: 100%;
}

/* line 21, ../sass/_block/_block_home.scss */

.logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* line 25, ../sass/_block/_block_home.scss */

.logo img {
	width: 100%;
	height: auto;
	max-width: 150px;
}

/* line 33, ../sass/_block/_block_home.scss */

.menu-desktop ul {
	list-style: none;
	margin-top: 35px;
}

/* line 37, ../sass/_block/_block_home.scss */

.menu-desktop ul li {
	display: inline-block;
	float: left;
}

/* line 41, ../sass/_block/_block_home.scss */

.menu-desktop ul li a {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1em;
	color: #fcfff3;
	margin-right: 40px;
	text-decoration: none;
}

/* line 62, ../sass/_block/_block_home.scss */

#mobile-menu {
	display: none;
	position: relative;
	z-index: 999999;
	overflow-y: auto;
	overflow-x: hidden;
	top: -90px;
	left: -100%;
	right: 0;
	bottom: 0;
	line-height: 2em;
	width: 100%;
	height: 70%;
	padding: 2em;
	background-color: #ffffff;
}

/* line 78, ../sass/_block/_block_home.scss */

#mobile-menu #nav-cancel {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: auto;
	height: 2em;
	margin-top: 25px;
	padding: 0 1em;
	cursor: pointer;
	font-size: 24px;
	line-height: 2;
}

/* line 92, ../sass/_block/_block_home.scss */

#mobile-menu #nav-cancel .icon-cancel:before {
	color: #495d6d;
}

/* line 99, ../sass/_block/_block_home.scss */

.menu-mob {
	max-width: 340px;
	margin: 0 auto;
	text-align: center;
}

/* line 106, ../sass/_block/_block_home.scss */

.menu-mob ul li {
	list-style: none;
}

/* line 109, ../sass/_block/_block_home.scss */

.menu-mob ul li a {
	text-decoration: none;
	color: #495d6d;
}

/* line 113, ../sass/_block/_block_home.scss */

.menu-mob ul li a:hover {
	color: #24a7cf;
}

/* line 121, ../sass/_block/_block_home.scss */

#nav-toggle {
	display: none;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	font-size: 24px;
	cursor: pointer;
	height: 85px;
	line-height: 85px;
	color: #495d6d;
}

/* line 135, ../sass/_block/_block_home.scss */

#nav-toggle span:before {
	content: "\e871";
	font-size: 24px;
	font-family: 'fluida-blocks', sans-serif;
	font-weight: normal;
}

/* line 142, ../sass/_block/_block_home.scss */

#nav-toggle:hover {
	color: #24a7cf;
}

/* line 147, ../sass/_block/_block_home.scss */

.intro-text {
	position: absolute;
	z-index: 3;
	left: 0;
	right: 0;
	top: 50%;
	bottom: auto;
	margin: 0 auto;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 1284px;
}

/* line 158, ../sass/_block/_block_home.scss */

.intro-text h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

/* line 167, ../sass/_block/_block_home.scss */

#site-header-main {
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100%;
	margin: 0 auto;
	vertical-align: top;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

/* line 179, ../sass/_block/_block_home.scss */

#site-header-main.header-fixed {
	background-color: #ffffff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-webkit-transition: .25s background-color ease-in-out;
	transition: .25s background-color ease-in-out;
	border-bottom: 1px solid #444;
}

/* line 186, ../sass/_block/_block_home.scss */

#site-header-main.header-fixed a {
	color: #495d6d;
}

/* line 189, ../sass/_block/_block_home.scss */

#site-header-main.header-fixed a:hover {
	color: #24a7cf;
}

/* line 196, ../sass/_block/_block_home.scss */

#site-header-main.header-fixed .socials a:hover:first-of-type {
	color: #3B5998;
}

/* line 199, ../sass/_block/_block_home.scss */

#site-header-main.header-fixed .socials a:hover:nth-of-type(2) {
	color: #00aced;
}

/* line 202, ../sass/_block/_block_home.scss */

#site-header-main.header-fixed .socials a:hover:nth-of-type(3) {
	color: #d34836;
}

/* line 211, ../sass/_block/_block_home.scss */

.noscroll {
	overflow: hidden;
}

/* line 215, ../sass/_block/_block_home.scss */

.socials {
	margin-top: 35px;
}

/* line 218, ../sass/_block/_block_home.scss */

.socials a {
	display: block;
	float: left;
	position: relative;
	z-index: 99;
	overflow: hidden;
	padding: 0 .7em;
	font-family: 'socials', sans-serif;
	font-weight: normal;
	color: #495d6d;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}

/* line 232, ../sass/_block/_block_home.scss */

.socials a:hover:first-of-type {
	color: #3B5998;
}

/* line 235, ../sass/_block/_block_home.scss */

.socials a:hover:nth-of-type(2) {
	color: #00aced;
}

/* line 238, ../sass/_block/_block_home.scss */

.socials a:hover:nth-of-type(3) {
	color: #d34836;
}

/* line 1, ../sass/_block/_block_about.scss */

#about {
	width: 100%;
	overflow-x: hidden;
}

/* line 7, ../sass/_block/_block_about.scss */

.text-title {
	color: #495d6d;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

/* line 15, ../sass/_block/_block_about.scss */

.text-content {
	color: #495d6d;
}

/* line 5, ../sass/_block/_block_gallery.scss */

.lp-boxes {
	display: block;
	float: none;
	width: 100%;
	overflow: hidden;
}

/* line 12, ../sass/_block/_block_gallery.scss */

.lp-boxes.lp-boxes-rows-4 .lp-box {
	width: 25%;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
}

/* line 19, ../sass/_block/_block_gallery.scss */

.lp-boxes.lp-boxes-rows-4 .lp-box-image {
	position: relative;
	overflow: hidden;
}

/* line 23, ../sass/_block/_block_gallery.scss */

.lp-boxes.lp-boxes-rows-4 .lpbox-rnd8 {
	background-color: #a5a3a5;
}

/* line 27, ../sass/_block/_block_gallery.scss */

.lp-boxes-2 .lp-box .lp-box-image {
	min-height: 400px;
	height: auto;
}

/* line 31, ../sass/_block/_block_gallery.scss */

.lp-boxes-animated .lp-box .lp-box-image > img {
	filter: grayscale(25%);
	transform: scale(1);
	-webkit-transition: 1s all ease;
	transition: 1s all ease;
}

/* line 37, ../sass/_block/_block_gallery.scss */

.lp-box .lp-box-image > img {
	position: relative;
	z-index: 10;
	display: block;
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {

/* line 10, ../sass/_vendor/bootstrap/_grid.scss */

.container {
	width: 750px;
}

/* line 27, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
	float: left;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-1 {
	width: 8.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-2 {
	width: 16.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-3 {
	width: 25%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-4 {
	width: 33.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-5 {
	width: 41.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-6 {
	width: 50%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-7 {
	width: 58.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-8 {
	width: 66.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-9 {
	width: 75%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-10 {
	width: 83.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-11 {
	width: 91.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-12 {
	width: 100%;
}

/* line 55, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-0 {
	right: auto;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-1 {
	right: 8.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-2 {
	right: 16.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-3 {
	right: 25%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-4 {
	right: 33.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-5 {
	right: 41.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-6 {
	right: 50%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-7 {
	right: 58.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-8 {
	right: 66.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-9 {
	right: 75%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-10 {
	right: 83.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-11 {
	right: 91.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-pull-12 {
	right: 100%;
}

/* line 45, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-0 {
	left: auto;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-1 {
	left: 8.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-2 {
	left: 16.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-3 {
	left: 25%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-4 {
	left: 33.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-5 {
	left: 41.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-6 {
	left: 50%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-7 {
	left: 58.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-8 {
	left: 66.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-9 {
	left: 75%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-10 {
	left: 83.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-11 {
	left: 91.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-push-12 {
	left: 100%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-0 {
	margin-left: 0%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-1 {
	margin-left: 8.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-2 {
	margin-left: 16.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-3 {
	margin-left: 25%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-4 {
	margin-left: 33.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-5 {
	margin-left: 41.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-6 {
	margin-left: 50%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-7 {
	margin-left: 58.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-8 {
	margin-left: 66.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-9 {
	margin-left: 75%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-10 {
	margin-left: 83.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-11 {
	margin-left: 91.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-sm-offset-12 {
	margin-left: 100%;
}

}

@media (min-width: 992px) {

/* line 10, ../sass/_vendor/bootstrap/_grid.scss */

.container {
	width: 970px;
}

/* line 27, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	float: left;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-1 {
	width: 8.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-2 {
	width: 16.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-3 {
	width: 25%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-4 {
	width: 33.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-5 {
	width: 41.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-6 {
	width: 50%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-7 {
	width: 58.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-8 {
	width: 66.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-9 {
	width: 75%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-10 {
	width: 83.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-11 {
	width: 91.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-12 {
	width: 100%;
}

/* line 55, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-0 {
	right: auto;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-1 {
	right: 8.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-2 {
	right: 16.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-3 {
	right: 25%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-4 {
	right: 33.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-5 {
	right: 41.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-6 {
	right: 50%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-7 {
	right: 58.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-8 {
	right: 66.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-9 {
	right: 75%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-10 {
	right: 83.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-11 {
	right: 91.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-pull-12 {
	right: 100%;
}

/* line 45, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-0 {
	left: auto;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-1 {
	left: 8.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-2 {
	left: 16.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-3 {
	left: 25%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-4 {
	left: 33.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-5 {
	left: 41.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-6 {
	left: 50%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-7 {
	left: 58.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-8 {
	left: 66.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-9 {
	left: 75%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-10 {
	left: 83.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-11 {
	left: 91.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-push-12 {
	left: 100%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-0 {
	margin-left: 0%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-1 {
	margin-left: 8.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-2 {
	margin-left: 16.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-3 {
	margin-left: 25%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-4 {
	margin-left: 33.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-5 {
	margin-left: 41.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-6 {
	margin-left: 50%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-7 {
	margin-left: 58.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-8 {
	margin-left: 66.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-9 {
	margin-left: 75%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-10 {
	margin-left: 83.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-11 {
	margin-left: 91.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-md-offset-12 {
	margin-left: 100%;
}

}

@media (min-width: 1200px) {

/* line 10, ../sass/_vendor/bootstrap/_grid.scss */

.container {
	width: 1284px;
}

/* line 27, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	float: left;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-1 {
	width: 8.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-2 {
	width: 16.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-3 {
	width: 25%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-4 {
	width: 33.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-5 {
	width: 41.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-6 {
	width: 50%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-7 {
	width: 58.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-8 {
	width: 66.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-9 {
	width: 75%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-10 {
	width: 83.33333%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-11 {
	width: 91.66667%;
}

/* line 35, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-12 {
	width: 100%;
}

/* line 55, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-0 {
	right: auto;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-1 {
	right: 8.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-2 {
	right: 16.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-3 {
	right: 25%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-4 {
	right: 33.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-5 {
	right: 41.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-6 {
	right: 50%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-7 {
	right: 58.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-8 {
	right: 66.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-9 {
	right: 75%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-10 {
	right: 83.33333%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-11 {
	right: 91.66667%;
}

/* line 50, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-pull-12 {
	right: 100%;
}

/* line 45, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-0 {
	left: auto;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-1 {
	left: 8.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-2 {
	left: 16.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-3 {
	left: 25%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-4 {
	left: 33.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-5 {
	left: 41.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-6 {
	left: 50%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-7 {
	left: 58.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-8 {
	left: 66.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-9 {
	left: 75%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-10 {
	left: 83.33333%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-11 {
	left: 91.66667%;
}

/* line 40, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-push-12 {
	left: 100%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-0 {
	margin-left: 0%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-1 {
	margin-left: 8.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-2 {
	margin-left: 16.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-3 {
	margin-left: 25%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-4 {
	margin-left: 33.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-5 {
	margin-left: 41.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-6 {
	margin-left: 50%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-7 {
	margin-left: 58.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-8 {
	margin-left: 66.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-9 {
	margin-left: 75%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-10 {
	margin-left: 83.33333%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-11 {
	margin-left: 91.66667%;
}

/* line 60, ../sass/_vendor/bootstrap/mixins/_grid-framework.scss */

.col-lg-offset-12 {
	margin-left: 100%;
}

}

@media only screen and (max-width: 992px) {

/* line 248, ../sass/_block/_block_home.scss */

#nav-toggle {
	display: block;
}

/* line 251, ../sass/_block/_block_home.scss */

.menu-desktop {
	display: none;
}

/* line 255, ../sass/_block/_block_home.scss */

#site-header-main {
	background-color: #ffffff;
	border-bottom: 1px solid #8e8e8e;
}

}

@media only screen and (max-width: 768px) {

/* line 148, ../sass/_setup/_main.scss */

.hidden-xs {
	display: none;
}

}

@media only screen and (max-width: 576px) {

/* line 153, ../sass/_setup/_main.scss */

.main_pt75 {
	padding-top: 50px;
}

/* line 156, ../sass/_setup/_main.scss */

.main_pb60,
.main_pb50 {
	padding-bottom: 20px;
}

}

